.country-list{
    row-gap: 30px;
		margin: 0 -15px;
}
.country-col{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.country-card{
	background: #fff;
	padding: 20px 15px;
	border-radius: 5px;
	height: 100%;
}
.country-card .title{
	font-size: 1.2rem;
}
.country-card .flag-wrap img{
	height: 40px;
	width: auto;
	border: 1px solid #eee;
}
.row{
	margin-left: -15px;
	margin-right: -15px;
}
.sm-col{
	padding-left: 15px;
	padding-right: 15px;
}
.text-btn{
	color: var(--primary);
	background: transparent;
	padding: 12px 0;
	border:0;
	font-weight: 600;
	cursor: pointer;
}
.modal-backdrop{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 80;
	background: rgba(0, 0, 0, 90%);
}
.modal{
	position: fixed;
	top:0;
	left: 0;
	height: 100%;
	padding: 20px;
	width: 100%;
	z-index: 99;
	opacity: 0;
	margin-top: -20px;
	transition: all .3s ease-out;
	overflow-y:auto;
}
.modal::-webkit-scrollbar{
	width: 0;
}
.modal.shown{
	opacity: 1;
	margin-top: 0;
}
.modal-header{
	padding: 4px 15px;
	text-align: right;
	border-bottom: 1px solid #eee;
}
.close-modal{
	background: transparent;
	padding: 12px 0;
	color: #888;
	font-weight: 600;
	border:none;
	cursor: pointer;
}
.modal-content{
	background: #fff;
	max-width: 750px;
	margin: auto;
	border-radius: 5px;
}
.modal .flag-wrap img{
	height: auto;
	max-width: 100%;
	max-height: 150px;
	border: 1px solid #eee
}
.modal table{
	border-collapse: collapse;
}
.modal td{
	border: 1px solid #eee;
}
.modal td:first-child{
	font-weight: 600;
}
@media screen and (min-width: 576px){
	.country-col{
		flex: 0 0 50%;
		max-width: 50%;
	}   
}
@media screen and (min-width: 768px){
	.country-col{
		flex: 0 0 33.333334%;
		max-width: 33.333334%;
	}   
}
@media screen and (min-width: 1200px){
	.country-col{
		flex: 0 0 25%;
		max-width: 25%;
	}   
}