.bookcard{
    column-gap: 20px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 30px
}
.publish-year{
    font-size: .9rem;
    font-style: italic;
    color: #888;
}
.cover-img{
    width: 100%;
    height: 300px;
    object-fit: contain;
    object-position: center;
    background: #f2f2f2;
}
.content-wrap{
    flex-grow: 1;
    padding: 20px;
}
.book-meta-wrap{
    column-gap: 20px;
    row-gap: 6px;
    flex-wrap: wrap;
    border-top: 1px solid #eee;
    margin-top: 20px;
    padding-top: 12px;
}
.book-meta{
    display: inline-flex;
    align-items: center;
    column-gap: 4px;
}
.book-meta svg{
    width: 1.2rem;
    height: 1.2rem;
    fill: var(--primary);
}
@media screen and (min-width:640px){
    .cover-wrap{
        width: 260px;
        flex-shrink: 0;
    }
}