.form-section{
    padding: 80px 0;;
}
.form-wrap{
    max-width: 600px;
    margin: auto;
}
.form-wrap .form-control{
	height: 45px;
}
.pagination{
    gap: 5px;
}
.pagination .pg-btn{
    border: 1px solid var(--primary);
    padding: 6px 8px;
    background: #fff;
    cursor: pointer;
}
.pagination .pg-btn.active{
    background: var(--primary); 
    color: #fff;
}
.no-book-msg{
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
}